# ignore everything 
*

# unignore directories
!*/

# unignore source code files
!*.css
!*.html
!*.js
!*.php
!*.py
!*.csv
!*.txt
!*.md
!*.c
!*.h
!*.cpp

# unignore image files
!*.jpg
!*.png
!*.gif
!*.ico
!*.svg

# unignore gitignore and LICENSE
!.gitignore
!LICENSE

# ignore default saved test pattern
mypattern.csv

# ignore data files directory
data_files/
